.intro {
  --color-html: var(--color-text);

  position: sticky;
  top: 0;
}

.intro-content {
  position: relative;

  display: grid;
  place-content: center;
  padding: 200px 1rem;
  background-color: var(--color-background-darker);
  background: 
  /*1*/ radial-gradient(
      ellipse at center,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    /*2*/ radial-gradient(ellipse at 70% 60%, rgba(195, 224, 96, 1) 0%, rgba(195, 224, 96, 0) 30%),
    /*3*/ radial-gradient(ellipse at bottom left, rgba(0, 163, 203, 1) 0%, rgba(0, 163, 203, 0) 70%),
    /*4*/
      linear-gradient(135deg, rgba(18, 46, 119, 0) 0%, rgba(18, 46, 119, 0) 75%, rgba(18, 46, 119, 1) 100%),
    /*5*/
      linear-gradient(
        to right,
        rgba(98, 87, 147, 1) 0%,
        rgba(213, 93, 100, 1) 17%,
        rgba(228, 145, 41, 1) 74%,
        rgba(192, 103, 28, 1) 100%
      );
  background-blend-mode: 
   /*1*/ screen, /*2*/ hue, /*3*/ color, /*4*/ overlay, /*5*/ normal;

  @media (min-width: 768px) {
    min-height: 100vh;
  }
}

.intro-title {
  position: relative;
  line-height: 1.15;
  margin-bottom: 10vw;
  z-index: 10;
  opacity: 0.95;
  pointer-events: none;

  &__line {
    display: block;

    &--main {
      font-family: 'Impact';
      font-size: clamp(2.5rem, 4vw + 1rem, 6rem);
      line-height: 1.1;
    }

    &--lower {
      font-size: 1.25em;
    }
  }
}

.intro-background {
  position: absolute;
  inset: 0;
  mix-blend-mode: multiply;

  &__canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__picture {
    position: absolute;
    inset: 0;
    opacity: 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
