<section class="section about">
  <div class="container" data-html="section">
    <h2 class="section-title" data-html="h2">About me</h2>

    <!-- prettier-ignore -->
    <p data-html="p">
      Hello there! I'm
      <span class="color-primary">Yurii Dobrovolskii</span>, a passionate
      <span class="color-primary">Frontend Developer</span>
      with a keen eye for crafting visually appealing and highly functional websites. I thrive on turning
      ideas into interactive user experiences and enjoy staying up-to-date with the latest technologies to
      bring modern solutions to the digital world.
    </p>

    <!-- prettier-ignore -->
    <p data-html="p">
      Currently, I am delving into the exciting world of
      <span class="color-primary">Vue 3</span>
      and
      <span class="color-primary">Nuxt 3</span>, 
      further expanding my skill set to embrace the latest advancements in frontend development.
    </p>

    <p data-html="p">
      I find joy in exploring a wide range of musical genres, but if I were to pick favorites, it would be
      pop-rock and the nostalgic beats of&nbsp;80s-90s international hits.
    </p>

    <p data-html="p">
      Movies are another passion of mine. I gravitate towards science fiction, comedies, and historical films.
      However, my love for storytelling extends to animated worlds, and I can't resist a good animated
      feature.
    </p>
  </div>
</section>
