<section class="section skills">
  <div class="container" data-html="section">
    <h2 class="section-title" data-html="h2">Skills</h2>

    <p data-html="p">My skill set encompasses a range of technologies, including:</p>

    <ul data-html="ul">
      <li>
        <strong>HTML5:</strong>
        Building the foundation of web pages with semantic and accessible markup.
      </li>
      <li>
        <strong>CSS3/SCSS:</strong>
        Styling websites with creativity and responsiveness, using both traditional and modern CSS features.
      </li>
      <li>
        <strong>JavaScript (JS):</strong>
        Bringing interactivity to the frontend, enhancing user experiences.
      </li>
      <li>
        <strong>Vue.js:</strong>
        Harnessing the power of Vue to create dynamic and scalable user interfaces.
      </li>
      <li>
        <strong>Nuxt.js:</strong>
        Leveraging Nuxt for building fast and efficient server-side-rendered (SSR) Vue applications.
      </li>
    </ul>
  </div>
</section>
